In [15]:
# Задание 1. Классификация фильмов по рейтингу

import pandas as pd

def rate(row):
    if row['rating'] <= 2:
        return 'Низкий рейтинг'
    elif row['rating'] <= 4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'
    

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

ratings['class'] = ratings.apply(rate, axis=1)

db_new = ratings.merge(movies, on='movieId', how='left')

db_new[['movieId', 'title', 'rating', 'class']].head()

   movieId                        title  rating            class
0        1             Toy Story (1995)     4.0  Средний рейтинг
1        3      Grumpier Old Men (1995)     4.0  Средний рейтинг
2        6                  Heat (1995)     4.0  Средний рейтинг
3       47  Seven (a.k.a. Se7en) (1995)     5.0  Высокий рейтинг
4       50   Usual Suspects, The (1995)     5.0  Высокий рейтинг

In [19]:
# Задание 2 

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def geo_class(row):
    for region, cities in geo_data.items():
        if row['keyword'] in cities:
            return region
    return 'undefined'    


search = pd.read_csv('keywords.csv')


search['region'] = search.apply(geo_class, axis=1)

search.sort_values(by='region', ascending=False)  # проверка

                            keyword   shows        region
11785                          тула   23898         Центр
6075                      ярославль   41720         Центр
1259                         москва  153050         Центр
20823                     петербург   14859  Северо-Запад
8977                       мурманск   29984  Северо-Запад
...                             ...     ...           ...
33337  красивые картинки на телефон   17938     undefined
33336            бронхиальная астма   10517     undefined
33335                       зил 130    9911     undefined
33334                  мицубиси асх   10889     undefined
99999                          ггму    3630     undefined

[100000 rows x 3 columns]

In [114]:
# Задание 3 (бонус)  # регулярные выражения
import re
import pandas as pd



ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

years = [i for i in range(1950, 2020)]

def production_year(row):
    pattern = '[\d+]{4}'
    try:
        numb = int(re.findall(pattern, row['title'])[0])
        if numb in years:
            return numb
        else:
            return 1900
    except:
        return 1900
movies['year'] = movies.apply(production_year, axis=1)


db_new = ratings.merge(movies, on='movieId', how='left')[['movieId', 'title', 'rating', 'year']]

db_new[['year', 'rating']].groupby('year').mean().sort_values(by='rating', ascending=False)

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.946721
...        ...
2016  3.387261
2005  3.359976
1992  3.353980
1997  3.347898
1996  3.334116

[70 rows x 1 columns]